/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: sans-serif;
}
/* Utilities */
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: grey;
}
article{
    width: calc(99% / 3);
    display: inline-block;
    margin: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.product-sale{
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    position: absolute;
    bottom: 20px;
    left: 0;

}
.card{
    position: relative;
}
.product-sustainability{
    color: white;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 44px;
}
.product-description{

}
.bg-red{
    background-color: red;
    width: 40px;
    height: 20px;
}
.bg-green{
    background-color: green;
    width: 80px;
    height: 20px;
}
#foto-primo-articolo{
    background-image: url("../img/1.webp");
    background-size: cover;
    height: 600px;

}
#foto-secondo-articolo{
    background-image: url("../img/2.webp");
}
#foto-terzo-articolo{
    background-image: url("../img/3.webp");
}
#foto-quarto-articolo{
    background-image: url("../img/4.webp");
}
#foto-quinto-articolo{
    background-image: url("../img/5.webp");
}
#foto-sesto-articolo{
    background-image: url("../img/6.webp");
}

