/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin-top: 20px;
}
/* Utilities */
.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.row {
  height: 450px;
}
.articolo {
  width: 30%; /* OPPURE width: calc(100% / 3 - 20px ); */
  display: inline-block;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.articolo::after {
  content: "\2665";
  background-color: #fff;
  width: 30px;
  height: 30px;
  font-size: 22px;
  padding-top: 2px;
  padding-left: 2px;
  position: absolute;
  top: 5%;
  left: 90%;
}

.product-sale {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  position: absolute;
  bottom: 20%;
  left: 0;
}
.card {
  position: relative;
  margin-right: 10px;
  display: inline;
}
.product-sustainability {
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 44px;
}
.no-sale {
  position: absolute;
  left: 0;
}
.product-description {
  position: absolute;
  width: 100%;
  background-color: #fff;
  text-align: left;
  left: 0;
  bottom: 0;
}
h2 {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: lighter;
}
.text-red {
  color: red;
  font-weight: bold;
}
.bg-red {
  background-color: red;
  width: 40px;
  height: 20px;
}
.bg-green {
  background-color: green;
  width: 80px;
  height: 20px;
}
/* IMMAGINI */
.articolo-primo {
  background-image: url("../img/1.webp");
}
.articolo-secondo {
  background-image: url("../img/2.webp");
}
.articolo-terzo {
  background-image: url("../img/3.webp");
}
.articolo-quarto {
  background-image: url("../img/4.webp");
}
.articolo-quinto {
  background-image: url("../img/5.webp");
}
.articolo-sesto {
  background-image: url("../img/6.webp");
}
.articolo-primo:hover {
  background-image: url("../img/1b.webp");
}
.articolo-secondo:hover {
  background-image: url("../img/2b.webp");
}
.articolo-terzo:hover {
  background-image: url("../img/3b.webp");
}
.articolo-quarto:hover {
  background-image: url("../img/4b.webp");
}
.articolo-quinto:hover {
  background-image: url("../img/5b.webp");
}
.articolo-sesto:hover {
  background-image: url("../img/6b.webp");
}
